/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-ene-2019, 8:08:58
    Author     : Gus
*/

/* RESPONSIVE
========================================================================= */
@media (min-width: 1200px) {
    .h2, h2 {
        font-size: 20px;
    }
}


/* Tablets en horizonal y escritorios normales
------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1199px) {
    .slideimg {
        width: 40%;
    }

    .btnpage2 {
        margin-left: 17%;
    }

    .btnpage {
        margin: auto;
        width: auto;
        /* float: right; */
        /* margin-right: 0%; */
        margin-top: 0%;
        padding: 0px;
        font-size: 20px;
        margin-top: 50px;
    }
    .fontApp {
        font-size: 30pt;
    } 
    .btnpagem {
        margin: auto;
        width: auto;
        float: none;
        margin-bottom: 15px;
        margin-top: 20%;
        font-size: 40px;
        padding: 5px 15px 5px 15px;
    }
    .btnpagem {
        margin: auto;
        width: auto;
        float: none;
        margin-right: 0% !important;
        margin-top: 4%;
        margin-bottom: 6%;
    }
    .h2, h2 {
        font-size: 20px;
    }

    .linea_vertical_blanca {
        display:none;
    }

    .sec1img > img {
        width: 50%;
    }
}

/* Móviles en horizontal o tablets en vertical
------------------------------------------------------------------------- */
@media (max-width: 767px) {

}


@media (min-width: 992px) {

    .slideimg {
        width: 40%;
    }

    .productos .col-md-4 {
        width: 33.33333333%;
        min-height: 400px;
    }

    .container.sinpadding p {
        padding-left: 20px;
    }

    .paddingaltos {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
/* Móviles en horizontal o tablets en vertical
------------------------------------------------------------------------- */
@media (min-width: 481px) and (max-width: 766px) and (orientation: portrait)  {



    .slideimg {
        width: 40%;
    }

    .h2, h2 {
        font-size: 20px;
    }


    .btnpagem {
        margin: auto;
        width: auto;
        float: none;
        margin-bottom: 15px;
        margin-top: 20%;
        font-size: 40px;
        padding: 5px 15px 5px 15px;
    }

    .btnpage2 {
        margin: auto;
        width: auto;
        float: none;
        margin-right: 0% !important;
        margin-top: 20%;
    }
    .linea_vertical_blanca{
        display:none;
    }

    .list {
        /*list-style-type: none;*/
        margin-left: -5%;
    }

    .list2 {
        list-style-type: none;
        margin-left: -5%;
    }
}   

@media (min-width: 481px) and (max-width: 766px) and (orientation: landscape)    
{
    .logo {
        width: 40%;
        padding-top: 0px;
    }

    .sec1img > img {
        margin-top: 10%;
        margin-left: -51px;
        width: 60%;
    }
    .btnpage2 {
        margin-top: 5%;
        margin-left: 10%;
    }    
    .linea_vertical_blanca, .linea_vertical_blanca2 {
        display:none;
    }
    .posicionbtnplus8 {
        margin-top: -20px;
        margin-left: 46%;
    }
}

/* Móviles en horizontal o tablets en vertical
------------------------------------------------------------------------- */
@media (max-width: 480px) {  
    
    .producto {
        min-height: 280px;
    }

    .producto1 {
        min-height: 180px;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        height: 160px;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        line-height: 1;
    }

    .sec1img > img {
        margin-left: -29%;
        float: left;
        width: 80%;
        position: inherit;
    }

    .border {
        border: solid 2px white;
        margin: 5px; }

    .titleprincipal h1 {
        margin-top: -75%;   
    }

    .titleprincipal p {
        text-align: center;
    }

    .slideimg {
        width: 40%;
    }


    .sec1img > img {
        margin-bottom: 20px;
        margin-left: 26px;
        float: left;
    }

    .posicionbtnplus {
        margin-left: 33%;
        margin-top: -6%;
    }

    .posicionbtnplus3 {
        margin-left: 35%;
        margin-top: -11%;
    }
    .btnpage {
        padding: 0px;
        font-size: 16pt;
    }
    .h2, h2 {
        font-size: 20px;
    }
    .movil {
        display: block;
    }

    .btnpage2 {
        width: auto;
        float: none;
        margin-top: 20%;
        margin-bottom: 20%; 
        margin-left: 11%; 
    }

    .w h1 {
        margin-top: 0%;
        font-size: 40px;
    }
    .linea_vertical_blanca, .linea_vertical_blanca2 {
        display:none;
    }
}

@media (min-width:768px){
    .container2{width:750px}
}

@media (min-width:992px){
    .container2{width:970px}
}

@media (min-width:1200px){
    .container2{width:1170px}
}

@media (max-width: 767px) {
    .bottom-aligned {
        display: block !important;
    }
}

/* Móviles en vertical
------------------------------------------------------------------------- */
@media (max-width: 480px) { 

}

/* Smartphones (horizontal) ----------- */
@media only screen and (min-width : 321px) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

/* Smartphones (vertical) ----------- */
@media only screen and (max-width : 320px) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

/* iPads (horizontal) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

/* iPads (vertical) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}
/**********
iPad 3
**********/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}
/* Ordenadores de escritorio y portátiles ----------- */
@media only screen  and (min-width : 1224px) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

/* Pantallas grandes ----------- */
@media only screen  and (min-width : 1824px) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

/* iPhone 4 ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

@media only screen and (min-width : 320px) and (max-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

/* iPhone 5 ----------- */
@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

/* iPhone 6 ----------- */
@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

/* iPhone 6+ ----------- */
@media only screen and (min-width: 414px) and (max-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

@media only screen and (min-width: 414px) and (max-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

@media only screen and (min-width: 320px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-width: 360px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}

@media only screen and (min-width: 360px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* AQUÍ ESCRIBES LOS ESTILOS CSS */
}