/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-ene-2019, 11:55:52
    Author     : Gus
*/

/*FUENTES*/
@font-face {
    font-family: FuturaStd;
    src: url(../fonts/ufonts.com_futurastd-light-opentype.otf);
}

@font-face {
    font-family: FuturaStd;
    src: url(../fonts/FuturaStd-Book.otf);
    font-weight: bold;
}

* {
    font-family: FuturaStd;
}

.panel {
    margin-bottom: 0px;
}

/*NAVBAR*/

.fontnavbar {
    font-size: 14pt;
}

.panel-body {
    padding: 0px;
}

.panel-default {
    border-color: transparent;
}

.logo {
    width: 50%;
    padding-top: 2px;
    padding-bottom: 5px;
}

.w{
    color : white;
}

.b {
    color : black;
}

.y {
    color : #ffe900;
}

/* TITULOS */
.ttsec {
    font-size: 30pt;
    position: absolute;
    z-index: 99999;
}

.ttsec1 {
    font-size: 60pt;
    margin-top: 0.2%;
    margin-left: 59.5%;
}


.telcontacto{
    text-align: right;
    font-size: 25pt;
}

.ttsec3{
    text-align: center;
}

.ttsec1_1 {
    font-size: 25pt;
    margin-top: 5.5%;
    margin-left: 61.5%;
}

.ttsec2_1 {
    font-size: 60pt;
    margin-top: 20%;
    margin-left: 38%;
}

.ttsec2_2{
    font-size: 15pt;
    margin-top: 20%;
    padding: 5% 15% 5% 15%;
    text-align: center;
}

/*BOTONES*/

.btnpage {
    text-decoration: none;
    padding: 5px 60px 5px 60px;
    font-size: 20pt;
    border-radius: 55px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    color: black;
    border: none;
    margin-top: 50px;
}

.btnpage2 {
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    font-size: 20pt;
    border-radius: 55px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin-left:33%;
    border:none;
    margin-top: 20%;
}

.btnpage3 {
    text-decoration: none;
    padding: 5px 60px 5px 60px;
    font-size: 20pt;
    border-radius: 55px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin-top: 5%;
}

.am {
    background-color: #ffe900;
}

.bl {
    background-color: #ffffff;
}

/*UBICACION BOTON*/

.btnsec1 {
    position: absolute;
    margin-top: 20%;
    margin-left: 64%;
}

.btnsec2 {
    margin-top: 8.5%;
}

.btnsec3 {
    /*margin-top: 4%;*/
}

.btnsec2{
    position: absolute;
    margin-left: 38%;
}

/*FORMULARIO*/

.sel, .inp{
    /*text-decoration: none;*/
    /*padding: 5px 60px 5px 60px;*/
    /*font-weight: 600;*/
    font-size: 18px;
    border-radius: 23px;
    border: 1px solid white;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

.sel {
    background-color: transparent;
    color : white;
}
.inp {
    background-color: white; 
    color : silver;
}

/*FONDOS SECCIONES*/
.fondos {
    background-position:center center;
    background-repeat:no-repeat;
    background-size : cover;
    width: 100%;
}
.sec1 {
    background-image:url('../img/BannerSmartHome.webm');
}

.sec12 {
    background-image:url('../img/BannerComercial.png');
}

.sec2 {
    background-image:url('../img/kit-smartsense.png');
}

.sec3 {
    background-color: #ffffff;
}

.sec4 {
    background: radial-gradient(ellipse, silver, white);
}

.sec5 {
    background-image:url('../img/SmartSense-MonitoreoDeAlarmas.png');
    background-repeat:no-repeat; 
    background-size : cover;
    height: 900px;
}

.sec6 {
    background-image:url('../img/SmartSense-Beneficios-Adicionales.png');
}

.sec7 {
    background-image:url('../img/SmartSense-Contacto.png');
}

.sec8 {
    background-color : #4d4d4d;
}

.sec9 {
    background-color : #c5c5c5;
}

.sec10 {
    background-image:url('../img/BannerMapfre.png');
}

.sec11 {
    background: radial-gradient(ellipse, silver, white);
}

.bannervideo {
    background-image:url('../img/BannerSolucionesDeVideo.png');
}

.imgsmart {
    position: absolute;
    width:100%;
    height:400px;
    background: url("../img/kit-smartsense.png") no-repeat center center;
}

/*MARCOS SECCION*/
.tam{
    height: 580px;
}

.tam1{
    height: 420px;
}

.tam2{
    height: 750px;
}

/*LIBRES*/
.divImage {
    position: absolute;
    z-index: 99999;
    margin-top: 9.3%;
    margin-left: 5%;
}

.linea{
    border-top: solid; 
    border-color: black;
    width: 65%;
    margin-top: 1%;
    margin-left: 20%;
}

.fontseccion {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;
    font-size: 15pt;
    text-align: justify;
}

.linea_vertical {
    border-left: thick solid;
    position: absolute;
    height: 100px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px; 
}


.linea_vertical_blanca {
    border-left: thick solid;
    position: absolute;
    height: 260px;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
    margin-top: 5%;
    margin-left: 53%;
}

.linea_vertical_blanca2 {
    border-left: thick solid;
    position: absolute;
    height: 120px;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
    margin-top: 20%;
    text-align: center;
}

.fontseccion > div h1{
    text-align: center;
}


.space {
    padding: 7px;
}

.spacelist {
    padding: 2px 0px 15px 0px;
}

.sinpadding{
    padding-left: 0px;   
    padding-right: 0px;   
}

.atv {
    line-height: 50px;
}

.content {
    padding-top: 17%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 2%;
}

.content2 {
    padding-top: 15%;
    padding-left: 5%;
}

.iconmon {
    width: 30%;
    padding-right: 5px;
}

.iconben {
    width: 20%;
}

.iconbenben {
    width: 40%;
}

.font {
    font-size:15pt;
}

.bold {
    font-weight: bold;
}

.fontApp {
    margin-top: 3%;
    font-size:30pt;
    text-align: center;
}

.fontAppKit {
    font-size:20pt;
}

.fontAppKitM {
    font-size:30pt;
    margin-top: 4%;
    margin-left: 32%;
    position: absolute;
}

.text {
    margin-top: 5%;
}

.linea_horizontal {
    margin-top: 2%;
    height: 100px;
    border-top : 1px solid black;
    width: 98%;
    position: absolute;
}

.ajustediv {
    padding: 5% 10% 10% 10%;
    position: absolute;
    width: 100%;
}

.subrayados{
    border-bottom: 2px solid white;
    width: 100%;
    margin-bottom: 5%;
}





.list > li{
    cursor:pointer;
}

/*FOOTER*/
#footer {
    background-color: black;
    text-align: center;
    font-family: sans-serif;
    color: whitesmoke;
    width: 100%;
    bottom: 0;
    position:relative;
    height: 40px;
    padding: 10px;
}

/*ARREGLOS*/

.marco {
    padding: 2%;
}

.marco2 {
    padding-top: 5%;
}

.marco3 {
    padding: 10%;
}

.marco4 {
    padding: 15%;
}

.list, .list2 {
    list-style: none;
    list-style-position: inside;
    padding-left: 3px;
}

.space > div img {
    margin-left: 50%;
}

/* LIST #2 */
.ttajs { padding-top: 2%; text-align: center; }


.lineafooter {
    width: 100%;
    border-top: 2px solid white;
    text-align: center;
}

.buttonplus{
    width: 80px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-weight: 600;
    font-size: 20pt;
    cursor: pointer;
    color: black;
    text-align: center;
    vertical-align:middle;
    margin: auto;
    display: table-cell;
}

.posicionbtnplus {
    margin-left: 30%;
    margin-top: 8%;
    position: absolute;
}

.posicionbtnplus2 {
    margin-left: 45%;
    margin-top: -1.5%;
    position: absolute;
}

.posicionbtnplus3 {
    margin-left: 47%;
    margin-top: -2%;
    position: absolute;
}

.posicionbtnplus8 {
    margin-top:-40px;
    margin-left:49%;
    position: absolute;
}

.navbar {
    margin-bottom: 0px !important;
}

select option {
    /* value not val */
    background: rgba(100, 100, 100, 0.8);   
}


/*PAULA*/
.border {
    border: solid 2px white;
    margin: 40px;
}

.sec1img > img {
    float: left;
    width: 80%;
}


.titleprincipal p {
    text-align: center;
}

img {
    width: 100%;
}

.frasse {
    padding: 5% 20% 5% 20%;
}

.ri {
    border-right: solid white 2px;
}

.btnpagem {
    margin: auto;
    width: 100%;
    float: unset;
    margin-right: 0%;
    margin-top: 0%;
    padding: auto;
}

.bottom-aligned {
    display: flex;
    align-items: flex-end;
}


.containers {
    padding-bottom: 0px !important;
}

.spad {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

p {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 24px;
}

.bg12 {
    background-image: url(../img/SolucionesDeVideoTelesentinel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: 18% 20%;
}

.bgg {
    background-color: #e7e7e7;

}

.bgn {
    background-color: black;

}

.container1 p {
    padding-bottom: 50px !important;
    padding-left: 20px;
    padding-right: 20px;
}

.row.container1 {
    margin-right: 0px;
    margin-left: 0px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
/*
[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}*/


/*SOLUCIONES EN VIDEO */

.h2, h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.bg-video {
    background-image: url(../img/BannerSolucionesDeVideo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: 18% 20%;
    padding-top: 50px 
}

.tvimg img {
    width: 30%;
    margin: auto;

}

.paddinglados {
    padding-left: 10%;
    padding-right: 10%;
}

.slideimg img {
    width: 50%;
    margin: auto;
}

.slideimg {
    border: solid black 2px;
    border-radius: 50%;
    width: 60%;
    margin: auto;
}

.rastreo .slideimg img {
    width: 100%;
    margin: auto;
}


.carousel-control.left {
    /* background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%); */
    background-image: none !important;
    /* background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001))); */
    /* background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    /* background-repeat: repeat-x; */
}

.carousel-control.right {
    /* background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%); */
    background-image: none !important;
    /* background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001))); */
    /* background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    /* background-repeat: repeat-x; */
}

.carousel-control:focus, .carousel-control:hover {
    color: black;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}

.slideicon {
    text-decoration: none;
    color: black;
    font-size: 50px;
    margin-top: 200%;
}

h3{
    font-weight: bold;
    text-align: center;
    color: black;
}

.slideinfo p {
    text-align: center
}

/*Rastreo Vehicular*/

.bgss  {
    background-image: url(../img/BannerRastreoSmartSense.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: 18% 20%;
    padding-top: 50px 
}

.bg-rastreo {
    background-image: url(../img/BannerRastreo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: 18% 20%;
    padding-top: 50px 
}

.bg-contacto {
    background-image: url(../img/BannerContacto.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: 18% 20%;
    padding-top: 50px 
}


/*CONTACTO*/
.form-contact {
    background-image:url('../img/SmartSense-Contacto.png');
}

.bg-smart {
    background-image: url(../img/BannerSmartSense.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: 18% 20%;
    padding-top: 50px 
}

.movil {
    display: none;
}

.service_iconslink, .texticon {
    text-align: center;
    cursor: pointer;
}

.iconfacebook, .iconinstagram, .iconyoutube {
    cursor: pointer;
}

.paddingaltos {
    margin-top: 5%;
}

/*
.container2{
    padding-top: 40px; 
    padding-bottom: 40px;  
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}

.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{margin-right:-15px;margin-left:-15px}
@media (min-width:768px){
    .container-fluid > .navbar-collapse, .container-fluid >.navbar-header,.container > .navbar-collapse, .container > .navbar-header{
        margin-right:0;
        margin-left:0
    }
}
.navbar-static-top{z-index:1000;border-width:0 0 1px}
@media (min-width:768px){
    .navbar-static-top{border-radius:0}
}

.navbar-fixed-bottom,.navbar-fixed-top{
    position:fixed;
    right:0;
    left:0;
    z-index:1030;
}
@media (min-width:768px){
    .navbar-fixed-bottom,.navbar-fixed-top{
        border-radius:0
    }
}
.navbar-fixed-top{
    top:0;border-width:0 0 1px
}
.navbar-fixed-bottom{
    bottom:0;
    margin-bottom:0;
    border-width:1px 0 0
}
.navbar-brand{
    float:left;
    height:50px;
    padding:15px 15px;
    font-size:18px;
    line-height:20px}.navbar-brand:focus,.navbar-brand:hover{text-decoration:none}.navbar-brand>img{display:block}@media (min-width:768px){.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand{margin-left:-15px}}

.container .jumbotron,.container-fluid .jumbotron{padding-right:15px;padding-left:15px;border-radius:6px}.jumbotron .container{max-width:100%}@media screen and (min-width:768px){.jumbotron{padding-top:48px;padding-bottom:48px}.container .jumbotron,.container-fluid .jumbotron{padding-right:60px;padding-left:60px}

                                                                                                                                                                                  .container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before{display:table;content:" "}.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.form-horizontal .form-group:after,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after{clear:both}
*/
/*
    width: 80px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-weight: 600;
    font-size: 20pt;
    cursor: pointer;
    color: black;
    text-align: center;
    vertical-align:middle;    
    display: table-cell;
*/
.logrst {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #ffe900;

    font-weight: 600;
    cursor: pointer;
    text-align: center;
    vertical-align:middle;
    display: table-cell;
    margin: auto;
}
.loginrastreo{
    top: 50%;
    right: 0%;
    position: fixed;
    z-index: 2000;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: 500px;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;
}

.fonthome1 {
    background-image: url(../img/Depositphotos.jpg);
    background-size: cover;
    padding-top: 50px;  
    background-position: right;
    width: 100%;
  
}

.producto1 {
    min-height: 150px;
}

.producto1 {
    min-height: 300px;
}
